* {
  ボックスサイズ: ボーダーボックス;
}

体 {
  マージン: 0;
  font-family: "ヒラギノ角ゴシック ProN";
}

{
  テキスト装飾: なし;
}

。容器 {
  幅: 100%;
  パディング: 0 15px;
  マージン: 0 自動;
}

.トップラッパー {
  パディング: 180px 0 100px 0;
  背景画像: url(top.png);
  背景サイズ: カバー;
  色: 白;
  テキスト整列: 中央;
}

.トップラッパー h1 {
  不透明度: 0.7;
  フォントサイズ: 45px;
  文字間隔: 5px;
}

.トップラッパー p {
  不透明度: 0.7;
  フォントサイズ: 16px;
  margin-bottom: 40px;
}

.btn-ラッパー {
  テキスト整列: 中央;
}

.btn-wrapper p {
  margin-bottom: 20px;
}

。サインアップ {
  背景色: #239b76;
}

。フェイスブック {
  背景色: #3b5998;
  右マージン: 10px;
}

。ツイッター {
  背景色: #55acee;
}

.btn {
  パディング: 8px 24px;
  色: 白;
  表示: インラインブロック;
  不透明度: 0.8;
  ボーダー半径: 4px;
  テキスト整列: 中央;
}

.btn:ホバー {
  不透明度: 1;
}

.fa {
  右マージン: 5px;
}

ヘッダー {
  高さ: 65px;
  幅: 100%;
  背景色: rgba(34,49,52,0.9);
  位置:固定;
  上: 0;
  Z インデックス: 10;
}

.ロゴ {
  幅: 124px;
  マージントップ: 20px;
}

.header-left {
  フロート: 左;
}

.header-right {
  フロート: 右;
  マージン右: -25px;
}

.header-right a {
  行の高さ: 65px;
  パディング: 0 25px;
  色: 白;
  表示ブロック;
  フロート: 左;
  トランジション: すべて 0.5 秒;
}

.header-right a:hover {
  背景色: rgba(255,255,255,0.3);
}

.レッスンラッパー{
  高さ: 580px;
  パディングボトム: 80px;
  パディング左: 5%;
  右パディング: 5%;
  背景色: #f7f7f7;
  テキスト整列: 中央;
}

.見出し {
  パディングトップ: 80px;
  パディングボトム: 50px;
  色: #5f5d60;
}

.heading h2 {
  フォントの太さ: 通常;
}

。レッスン {
  フロート: 左;
  幅: 25%;
}

.レッスンアイコン {
  位置: 相対;
}

.lesson-icon p {
  位置: 絶対;
  上: 37%;
  幅: 100%;
  色: 白;
}

.text-contents {
  幅: 80%;
  表示: インラインブロック;
  マージントップ: 15px;
  フォントサイズ: 13px;
  色: #b3aeb5;
}

.見出し h3 {
  フォントの太さ: 通常;
}

.メッセージラッパー{
  border-bottom: 1px ソリッド #eee;
  パディングボトム: 80px;
  テキスト整列: 中央;
}

。メッセージ {
  パディング: 15px 40px;
  背景色: #5dca88;
  カーソル: ポインタ;
  ボックスの影: 0px 7px #1a7940;
}

.message:アクティブ {
  位置: 相対;
  上: 7px;
  ボックスの影: なし;
}

フッター画像 {
  幅: 125px;
}

フッター p {
  色: #b3aeb5;
  フォントサイズ: 12px;
}

フッター {
  パディングトップ: 30px;
  パディングボトム: 20px;
}

.メニューアイコン {
  色: 白;
  フロート: 右;
  フォントサイズ: 25px;
  パディング: 21px 0;
  表示: なし;
}

。クリア {
  クリア: 左;
}

@media all and (max-width: 1000px) {
  。レッスン {
    幅: 50%;
    margin-bottom: 50px;
  }

  .レッスンラッパー{
    高さ: 990px​​;
  }

  フッター {
    テキスト整列: 中央;
  }
}

@media all and (max-width: 750px) {
  .トップラッパー h1 {
    フォントサイズ: 32px;
  }

  .heading h2 {
    フォントサイズ: 20px;
  }
}

@media all and (max-width: 670px) {
  .header-right {
    表示: なし;
  }

  .メニューアイコン {
    表示ブロック;
  }

  .トップラッパー.btn {
    幅: 100%;
  }

  。ツイッター {
    マージントップ: 10px;
  }

  .トップラッパー {
    テキスト整列: 左;
  }

  .トップラッパー h1 {
    フォントサイズ: 24px;
  }

  .トップラッパー p {
    フォントサイズ: 14px;
  }

  。レッスン {
    幅: 100%;
  }

  .レッスンラッパー{
    高さ: 1700px;
  }

  .メッセージラッパー.btn {
    幅: 100%;
  }
}
